@page
@model Taste.Pages.Customer.Cart.OrderConfirmationModel
@{
    ViewData["Title"] = "OrderConfirmation";
}

    <div class="container row">
        <div class="col-12 text-center">
            <h1 class="text-primary text-center"></h1>
            <b>Sipariş Numaran : </b>@Model.orderId <br /><br />
            <img src="~/images/1_oAAtPbj74GEedxcJ6wkwGg.png" width="30%" />

        </div>
        
        <div class="col-12 text-center" style="color:maroon">
            <b>Siparişiniz Alınmıştır</b>
        </div>
    </div> 

